#checkbox-wrapper {
   padding-left: 0;
   display: flex;
   align-items: baseline;
}

input[type=checkbox] {
   visibility: hidden;
   position: relative;
   height: 1.5rem;
   width: 1.5rem;
   margin: 0;
      &::before {
         visibility: visible;
         content: '';
         position: absolute;
         top: 0;
         left: 0; 
         width: 1.5rem;
         height: 1.5rem;
         border: 0.1rem solid $colBaseText;
         border-radius: 0.1rem;
         background-color: white;
      }
      &:checked:after {
         visibility: visible;
         content: '';
         position: absolute;
         top: 45%;
         left: 55%; 
         width: 0.85rem;
         height: 0.45rem;
         border: 0.25rem solid $colBaseText;
         border-right: none;
         border-top: none;
         background-color: white;
         transform: translate(-50%, -50%) rotate(-45deg);
      }
}

#checkbox-label {
   margin-left: 0.5rem;
}

#checkbox-wrapper {
   display: flex;
   align-items: center;
}

.select-inner-wrapper {
   width: 100%;
   padding: 0;
   position: relative;
}

.select {
   @include input-field-style;
   width: 100%;
   text-indent: 2%;
   font-size: 1.5rem;
   line-height: 1.85rem;
   margin-top: 0.55rem;
   font-weight: 900;
   appearance: none;
   -webkit-appearance: none;
   background-image: url(../../images/dropdown-icon.png);
   background-repeat: no-repeat;
   background-size: 1.15rem;
   background-position: 98% 50%;
      &:focus {
         background-color: $colPh;
         color: $colBaseText;
      }
}

.submit-button {
   padding: 1.1rem 1.8rem;
   background-color: $accentColor;
   color: #fff;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 0.1rem;
   border: none;
}









