.logo-wrapper {
   padding-top: 3rem;
   padding-bottom: 1rem;
   display: flex;
   justify-content: center;
      @include media ($widthMobileMedium){
         padding-top: 1rem;
      }
}

.logo-img {
   height: 7rem;
}
