.logo-wrapper {
   padding-top: 4rem;
   padding-bottom: 0.5rem;
   display: flex;
   justify-content: center;
      @include media ($widthMobileMedium){
         padding-top: 1rem;
      }
}

.logo-img {
   height: 12rem;
}
