@import "variables";
@import "mixins";

html {
	font-size: 66%;
	@include sans;
	color: $colBaseText;
   line-height: 120%;
   @include media ($widthTabletSmall){
      font-size: 75%;
   }
}

input {
	@include sans();
	@include placeholderColor($colTextGrey3)
}

select {
	@include sans();
	@include placeholderColor($colTextGrey3);
	&:invalid {
		color: $colTextGrey3;
	}	

	&.empty { color: $colTextGrey3; }
}

textarea {
	@include sans();
	@include placeholderColor($colTextGrey3)
}

.heading-primary {
   text-align: center;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 2.6rem;
   line-height: 3.25rem;
}

.heading-secondary {
   text-align: center;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 2rem;
   line-height: 2.5rem;   
}

.caption {
   text-align: center;
   font-size: 1.05rem;
   line-height: 1.5rem;
   font-weight: bold;
}

.form__text {
   font-size: 1.85rem;
   line-height: 2rem;
   font-weight: 700;
      &--intro {
         margin-top: 1rem;
         text-align: center;
         padding: 0 8%!important;
      }
      @include media ($widthTabletSmall){
         font-size: 1.6rem;
      }

}

.right-side {
   @include input-field-style;
      &:focus {
         background-color: $colPh;
      }
}

.text-smaller {
   font-size: 1rem;
   line-height: 1.75rem;
   font-weight: bold;
      &--red {
         color: $warnColor;
   }
}

a {
      text-decoration: none;
      color: $colBaseText;
      font-weight: bold;
}







